body{
    background-color: #9a9a9a;
}
#listagem-carros-abertos{
	display: none;
	flex-flow: row;
	justify-content: center;
	flex-wrap: nowrap;
    font-family: Montserrat;
}
.card-aberto{
	display: flex;
    justify-items: center;
    align-items: center;
    background-color: #fafafa;
    width: 50%;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    align-content: center;
}
.lado-esquerdo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.imagem-card-aberto img{
	max-width: 600px;
	border-radius: 15px;
}
.thumbs-card-aberto{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
	max-width: 600px;
	padding: 0 10px 0 10px;
}
.thumbs-card-aberto img{
	width: 33%;
	margin: 5px;
	border-radius: 5px;
}

.lado-direito{
	display: flex;
    flex-direction: column;
   	align-items: stretch;
	width: 50%;
}

.titulo-card-aberto{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.obs-card-aberto{
	font-weight: 400;
	font-size: smaller;
}
.valor-card-aberto {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}
.valor-card-aberto h2{
	font-weight: 800;
	font-size: xx-large;
	margin-block: 0.25em;
}
.valor-card-aberto h3{
	font-weight: 500;
	font-size: medium;
}