body{
    font-family: 'Montserrat', sans-serif;
	color: #2a2a2a;
	margin: 0px;
	background-color: #e9e9e9;
}
/*CABEÇALHO/NAVEGAÇÃO*/
li{
	list-style: none;
}
.menu-navegacao img{
	margin: 0 15 0 15px;
}
.menu-navegacao ul{
	display: flex;
    justify-content: center;	
    align-items: center;
    flex-direction: row;
}
.menu-navegacao ul li{
	display: flexbox;
	margin: 20px;
}

.menu-navegacao a{
	text-transform: uppercase; 
	color: #2a2a2a;            
	font-weight: 600;        
	text-decoration: none;    
}
.menu-navegacao a:hover{                   
	color: #DA504E;
	text-decoration: none;
}
/*BANNER PRINCIPAL - HOME*/
.banner{
	display: flex;
	background-image: url(../imgs/VN2O1Z2.jpg);
	background-size: cover;
	background-position-x: center;
	flex-direction: column;
	align-items: center;
	height: 508px;
	font-family: Montserrat;
	font-size: 2em;
	font-weight: 900;
	text-shadow: 1px 1px 2px #2a2a2a;
	color: #fff;
	text-transform: uppercase;
}
/*BANNER PRINCIPAL - COMO FUNCIONA*/
.banner-funciona{
	display: flex;
	background-image: url(../imgs/BMW\ XM\ 2023\ interior.jpg);
	background-size: cover;
	background-position-x: center;
	flex-direction: column;
	align-items: center;
	height: 508px;
	font-family: Montserrat;
	font-size: 2em;
	font-weight: 900;
	text-shadow: 1px 1px 2px #2a2a2a;
	color: #fff;
	text-transform: uppercase;
}
/*BANNER PRINCIPAL - VANTAGENS*/
.banner-vantagens{
	display: flex;
	background-image: url(../imgs/back-audi-r8-v10-gt.jpeg);
	background-size: cover;
	background-position-y: center;
	flex-direction: column;
	align-items: center;
	height: 508px;
	font-family: Montserrat;
	font-size: 2em;
	font-weight: 900;
	text-shadow: 1px 1px 2px #2a2a2a;
	color: #fff;
	text-transform: uppercase;
}
/*BANNER PRINCIPAL - CARROS*/
.banner-carros{
	display: flex;
	background-image: url(../imgs/DSCF0019_v2.webp);
	background-size: cover;
	background-position-y: center;
	flex-direction: column;
	align-items: center;
	height: 508px;
	font-family: Montserrat;
	font-size: 2em;
	font-weight: 900;
	text-shadow: 1px 1px 2px #2a2a2a;
	color: #fff;
	text-transform: uppercase;
}
/*CORPO*/
.principal{
	width: 100%;
	margin-bottom: 1em;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 1em;
	clear: left;
}
.paragrafo-principal{
	padding-top: 10px;
	padding: 0 25% 0 25%;
	text-align: justify;
	font-size: medium;
	line-height: 2em;
}
.paragrafo-principal form label{
	width: "100%";
}
/*SERVIÇOS*/
.servicos{
	width: 100%;
	display: flexbox;
}
.titulo-servicos{
	font-size: 2em;
	margin-top: 0px;
	text-align: center;
}
.boxes{
	display: flex;
	flex-flow: row;
	align-content: space-between;
	align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
	padding: 0 5% 0 5%;
}

.box{
	display: flex;
	border-radius: 5px;
  	padding: 30px;
  	margin: 10px;
  	width: 100%;
	height: 320px;
	flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
	text-align: center;
	color: #fff;
}
.box h3{
	font-size: 25px;
	letter-spacing: 0.1em;
}
/*PORTIFÓLIO*/
.titulo-portifolio{
	text-align: center;
	font-size: 2em;
}
.portifolio{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	padding: 0 10% 0 10%;
}
.portifolio img{
	height: 15.6em;
	object-fit: cover;
	margin: 5px;
	border-radius: 5px;
	transition: all 0.7s ease;
}
.portifolio img:hover {
  transform: scale(1.5);
  animation: forwards;
}
/*RODAPÉ*/
.footer{
	padding-top: 1em;
}

.footer img{
	margin: 0 15 0 15px;
}
.footer ul{
	display: flex;
    justify-content: center;	
    align-items: center;
    flex-direction: row;
}
.footer ul li{
	display: flexbox;
	margin: 20px;
}

.footer a{
	text-transform: uppercase; 
	color: #2a2a2a;            
	font-weight: 600;        
	text-decoration: none;    
}
.footer a:hover{                   
	color: #DA504E;
	text-decoration: none;
}
/*BOTÕES PÁGINA COMO FUNCIONA*/

.botoes{
	display: flex;
	justify-items: center;
	flex-flow: nowrap;
	flex-flow: nowrap;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
	margin-bottom: -2.3em;
}
.botoes button{
	background-color:#691a1c;
	padding: 5px;
	border-radius: 20px;
	border: none;
	padding: 20px;
	margin: 10px;
	align-content: center;
	width: 200px;
}
.botoes button a{
	font-family: Montserrat;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}
/*TEXTO PRINCIPAL - PÁGINA VANTAGENS*/
.principal{
	width: 100%;
	margin-bottom: 1em;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 1em;
	clear: left;
}
.paragrafo-principal{
	padding-top: 10px;
	padding: 0 25% 0 25%;
	text-align: justify;
	font-size: medium;
	line-height: 2em;
}
/* CARROS */
#listagem-carros{
	display: flex;
	flex-flow: row;
	justify-content: center;
	flex-wrap: wrap;
}
.card{
	display: flex;
	justify-items: center;
	flex-direction: column;
	background-color: #fafafa;
	width: 400px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	box-shadow: 5px 5px 10px #9a9a9a;
}
.imagem-card img{
	width: 100%;
	border-radius: 15px;
}
.thumbs-card{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
	padding: 0 10px 0 10px;
}
.thumbs-card img{
	width: 33%;
	margin: 5px;
	border-radius: 5px;
}
.titulo-card{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.valor-card {
	display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
	align-items: center 	;
}
.valor-card h2{
	font-weight: 800;
	font-size: xx-large;
}
.valor-card h3{
	font-weight: 500;
	font-size: medium;
}
.obs-card{
	padding: 0 10px 0 10px;
	text-align: center;
	font-weight: 400;
	font-size: smaller;
}